@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ol, ul, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑"; }

em, i {
  font-style: normal; }

li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

a:focus {
  outline: none; }

b {
  font-weight: normal; }

img {
  border: none;
  vertical-align: top;
  display: block; }

html, body {
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome, "微软雅黑";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  display: -webkit-box;
  -webkit-box-orient: vertical; }

header {
  -webkit-box-flex: 30;
  height: 0;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: #15C6DA;
  font-size: 1.2rem;
  color: #FFFFFF; }

article {
  -webkit-box-flex: 350;
  height: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center; }
  article .banner {
    -webkit-box-flex: 100;
    height: 0;
    width: 100%;
    background: #e63939;
    overflow: hidden; }
    article .banner ul {
      overflow: hidden; }
      article .banner ul li {
        height: 7.9rem; }
        article .banner ul li img {
          width: 100%; }
  article .nav-wrap {
    -webkit-box-flex: 235;
    height: 0;
    width: 100%;
    overflow: auto; }
    article .nav-wrap ul {
      overflow: hidden; }
      article .nav-wrap ul li {
        height: 6.5rem;
        float: left;
        margin: 0.8%;
        color: #FFFFFF; }
      article .nav-wrap ul .w-50 {
        width: 48.2%; }
      article .nav-wrap ul .w-25 {
        width: 23.5%; }
      article .nav-wrap ul .w-75 {
        width: 73.2%; }
      article .nav-wrap ul .color-1 {
        background: #0FC3DA; }
      article .nav-wrap ul .color-2 {
        background: #92CF0F; }
      article .nav-wrap ul .color-3 {
        background: #F5BC25; }
      article .nav-wrap ul .color-4 {
        background: #FF6678; }
      article .nav-wrap ul .color-5 {
        background: #FF8B55; }
      article .nav-wrap ul .color-6 {
        background: #368FF5; }
      article .nav-wrap ul .color-7 {
        background: #777EE8; }

footer {
  -webkit-box-flex: 40;
  height: 0;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: #F4F4F4; }
  footer ul {
    width: 100%; }
    footer ul li {
      width: 20%;
      float: left;
      text-align: center;
      font-size: 2rem; }
    footer ul li:before {
      font-size: 1.8rem;
      display: inline-block;
      width: 100%; }
    footer ul .home:before {
      content: "\f015"; }
    footer ul .cate:before {
      content: "\f0c9"; }
    footer ul .cart:before {
      content: "\f07a"; }
    footer ul .user:before {
      content: "\f007"; }
    footer ul .more:before {
      content: "\f1de"; }
    footer ul .active {
      color: #FF0; }

/*# sourceMappingURL=category.css.map */