@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ol, ul, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑"; }

em, i {
  font-style: normal; }

li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

a:focus {
  outline: none; }

b {
  font-weight: normal; }

img {
  border: none;
  vertical-align: top;
  display: block; }

html, body {
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  display: -webkit-box;
  -webkit-box-orient: vertical; }

header {
  -webkit-box-flex: 80;
  height: 0;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: #008ED6;
  font-size: 1.2rem;
  color: #FFFFFF; }

article {
  -webkit-box-flex: 650;
  height: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  background: #FFFFFF; }

.form-wrap {
  -webkit-box-flex: 250;
  height: 0; }

.form-group {
  padding: 5% 5% 2%; }
  .form-group input {
    outline: none;
    border: none;
      border-radius: 3px;
    width: 100%;
    height: 2.8rem;
    margin-bottom: 0.3rem;
    text-indent: 2.5rem;
    font-size: 0.8rem;
    border-bottom: 1px solid #008ED6; }
  .form-group .username {
    background: url(../images/ico-user.png) no-repeat 0.5rem center; }
  .form-group .password {
    background: url(../images/ico-password.png) no-repeat 0.5rem center; }
  .form-group span {
    font-size: 0.8rem;
    line-height: 1rem;
    visibility: hidden;
    padding-left: 1rem; }
  .form-group .error {
    color: #f25f11;
    visibility: visible; }

.check-wrap {
  -webkit-box-flex: 235;
  height: 0; }
  .check-wrap .check-group {
    padding: 5%; }
    .check-wrap .check-group .check-box {
      width: 100%;
      height: 3.1rem;
      line-height: 3.1rem; }
      .check-wrap .check-group .check-box i {
        width: 1rem;
        height: 1rem;
        border: 2px solid #008ED6;
        display: inline-block;
        color: #008ED6; }
        .check-wrap .check-group .check-box i:before {
          content: "\f00c"; }
      .check-wrap .check-group .check-box .unchecked {
        color: #FFFFFF; }
      .check-wrap .check-group .check-box span {
        font-size: 0.8rem; }
      .check-wrap .check-group .check-box em {
        margin-left: 8rem;
        color: #008ED6;
        font-size: 0.8rem; }

.btn-wrap {
  -webkit-box-flex: 350;
  height: 0; }
  .btn-wrap .btn-group {
    padding: 5%; }
    .btn-wrap .btn-group span {
      display: block;
      width: 100%;
      cursor: pointer;
      color: #FFFFFF;
      border-radius: 3px;
      text-align: center;
      height: 3rem;
      line-height: 3rem;
      font-size: 1rem;
      letter-spacing: 0.5rem;
      margin-bottom: 0.5rem; }
    .btn-wrap .btn-group .login-btn {
      background: #008ED6; }
    .btn-wrap .btn-group .reg-btn {
      background: #56baed; }

/*# sourceMappingURL=login.css.map */