@import "base";
@import "functions";

body {
    @include boxOrient(vertical);
}

header {
    @include boxVertiFlex(30); 
    @include content-center;
    background: $title-bgcolor;
    font-size: $title-fz;
    color: $colorWhite;
}
article{
    @include boxVertiFlex(350);
    @include boxOrient(vertical);
    @include content-center;
    .banner{
        @include boxVertiFlex(100);
        width: 100%;
        background: #e63939;
        overflow: hidden;
        ul{
            overflow: hidden;
            li{
                height: 7.9rem;
                img{
                    width: 100%;
                }
            }
        }
    }
    .nav-wrap{
        @include boxVertiFlex(235);
        width: 100%;
        overflow: auto;
        ul{
            overflow: hidden;
            li{
                height: 6.5rem;
                float: left;
                margin: 0.8%;
                color: #FFFFFF;
            }
            .w-50{
                width: 48.2%;
            }
            .w-25{
                width: 23.5%;
            }
            .w-75{
                width: 73.2%;
            }
            .color-1{
                background: #0FC3DA;
            }
            .color-2{
                background: #92CF0F;
            }
            .color-3{
                background: #F5BC25;
            }
            .color-4{
                background: #FF6678;
            }
            .color-5{
                background: #FF8B55;
            }
            .color-6{
                background: #368FF5;
            }
            .color-7{
                background: #777EE8;
            }
        }
    }
}


footer{
    @include boxVertiFlex(40); 
    @include content-center;
    background: #F4F4F4;
    ul{
        width: 100%;
        li{
            width: 20%;
            float: left;
            text-align: center;
            font-size: 2rem;
        }
        li:before{
            font-size: 1.8rem;
            display: inline-block;
            width: 100%; 
        }
        .home:before{
            content: "\f015";
        }
        .cate:before{
            content: "\f0c9";
        }
        .cart:before{
            content: "\f07a";
        }
        .user:before{
            content: "\f007";
        }
        .more:before{
            content: "\f1de";
        }
        .active{
            color: #FF0;
        }
    }
}