@import "base";
@import "functions";

body {
    @include boxOrient(vertical);
}

header {
    @include boxVertiFlex(30); 
    @include content-center;
    background: $title-bgcolor;
    font-size: $title-fz;
    color: $colorWhite;
}
article{
    @include boxVertiFlex(350); 
    @include content-center;
    background: #e63939;
}


footer{
    @include boxVertiFlex(40); 
    @include content-center;
    background: #F4F4F4;
    ul{
        width: 100%;
        li{
            width: 20%;
            float: left;
            text-align: center;
            font-size: 2rem;
        }
        li:before{
            font-size: 1.8rem;
            display: inline-block;
            width: 100%; 
        }
        .home:before{
            content: "\f015";
        }
        .cate:before{
            content: "\f0c9";
        }
        .cart:before{
            content: "\f07a";
        }
        .user:before{
            content: "\f007";
        }
        .more:before{
            content: "\f1de";
        }
        .active{
            color: #FF0;
        }
    }
}